# Seed phrases should be highly random and not contain white spaces
# Tip: just hit your keyboard a few times

ALICE_SEED_PHRASE=uiabduiwbdaldsaiofjiufnaiugbsasag
BOB_SEED_PHRASE=idnauidbwuybawyifjlafdjlakg
ORCHESTRATOR_SEED_PHRASE=jadnbwaiudbwuyiadaw
